/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 200px;

}
body {
    /* Margin bottom by footer height */
    color:white;
    margin-bottom: 60px;
    background-color: rgba(255,255,255,0) !important;
    font-family: roboto;
    background: url('../imgs/bg.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    margin-top: 1.25rem;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/* Signin form */
.form-signin {
    max-width: 60%;
    padding: 15px;
    margin: 0 auto;
    padding-bottom:55px;
    flex:0 0 45%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Register Form */


.form-register {
    max-width: 60%;
    padding: 15px;
    margin: 0 auto;
    padding-bottom:55px;
    flex:0 0 45%;
}
.form-register .form-register-heading,
.form-register .checkbox {
    margin-bottom: 10px;
}
.form-register .checkbox {
    font-weight: normal;
}
.form-register .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-register .form-control:focus {
    z-index: 2;
}
.form-register input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-register input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Sponsor Form */

.form-sponsor {
    max-width: 660px;
    padding: 15px;
    margin: 0 auto;

}
.form-sponsor .form-register-heading,
.form-sponsor .checkbox {
    margin-bottom: 10px;
}
.form-sponsor .checkbox {
    font-weight: normal;
}
.form-sponsor .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-sponsor .form-control:focus {
    z-index: 2;
}
.form-sponsor input[type="text"] {
    margin-bottom: -1px;

}
.form-sponsor input[type="email"] {
    margin-bottom: -1px;

}
.form-sponsor input[type="password"] {
    margin-bottom: 10px;

}


/* End of Sponsor Form*/

body > .container {
    padding: 60px 15px 30px;
    bottom: -60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.media,
.media-body {
    overflow: visible;
}

.media:after,
.media-body:after{
    content:'';
    clear:both;
    display:block;
}

.acc-title {
    margin-top:50px;
    margin-left: 200px;
}
.acc-image{
    float:left;

}

.acc-container{
    margin-top: 10px;
    flex:0 0 45%;
}
.blog-header{
    margin-left:15px;
    margin-bottom:5px;
    border:1px solid black;
    padding-right:15px;
    min-width:731px;
    max-width:731px;
}
.spnsrbtn{
    float:right !important;
    margin-left: 10px;
    margin-top: 145px;
    height:35px;
    line-height: 15px;
}
.navbar-dark .navbar-brand{
    color: #28a745 !important;
}

.page-header{
    text-align: center;
}

.welcome-container-1{
    color:rgba(255,255,255,.7);
    flex: 0 0 45%;
    margin-right: 20px;
    margin-left: 5%;
    background-color: rgba(12,12,12,.9);
}
.welcome-container-2{
    color:rgba(255,255,255,.7);
    flex: 0 0 45%;
    float:right;
    margin-right: 20px;
}

.grad-content-bg{
    background-color: rgba(12,12,12,.9);
}
.center-text{
    text-align: center;
}

.vertical-center {
  min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.nav-cust{
    width: 100%;
    margin-bottom:10px;
}
.row-large{
    min-height:100%;
}
