.db-bg{
    background-color:
}

.btn-primary{
    background-color: #ce7349;
}

.btn-primary:hover{
    background-color: #7b4026 !important;
}

.text-muted{
    color: #ce7349 !important;
}


.dropdown-item:hover{
    transition: all .1s linear;
    background-color: #ce7349 !important;
}

.tab.active{
    color:white;
    background-color: white !important;
}

.tab:hover{
    color:white;
    background: transparent !important;
}
.nav-link.active:hover{
    color:white;
}

label, h4,h1,h2,h3,th{
    color: #f98f5f;
}

.light-orange, .light-orange.active{
    /*background-color: #343a40!important;*/
}

.db-text{
    color: white !important;
}

.db-section-title{
    color: black !important;
}
.nav-link:hover{
    background: #ce7349;
}
.nav-item.active{
    /* background: #f98f5d; */
    background: #cc714b;
}

textarea{
    border-color: #bdbdbd !important;
}
.form-control, .form-control:focus{
    color:white;
}
 select.form-control, select.form-control:focus {
    color:black;
}

table.table a{
    color:white;
}

section.dashboard-counts .count-title span{
    color: #4e4e4e !important;
}

.table-striped tbody tr:hover{
    background-color: #ce7349;
}

#acctype{
    color: white !important;
    margin-bottom: 1rem;
}
#acctype-front{
    color: #151515 !important;
    margin-bottom: 1rem;
}

#acctype option{
    color: black !important;
}

.note-toolbar button{
    color: black !important;
}

.list-group-item{
    padding: 0;
    background-color: transparent;
}

.form-signin input:-ms-input-placeholder{
  color: white !important;
}
.form-signin input::-webkit-input-placeholder{
  color: white !important;
}
.form-signin input::-moz-placeholder{
  color: white !important;
}
.form-signin input:-moz-placeholder {
  color: white !important;
}

.form-register input::-webkit-input-placeholder , , , {
  color: white !important;
}
.form-register input::-webkit-input-placeholder{
  color: white !important;
}
.form-register input::-moz-placeholder{
  color: white !important;
}
.form-register input:-ms-input-placeholder{
  color: white !important;
}
.form-register input:-moz-placeholder{
  color: white !important;
}
.form-signin label, .form-register label, .form-newtask label{
  color: white;
}

.grad-content-bg form h1, .grad-content-bg form h2, .grad-content-bg form h3{
    color: #FFF;
}

.forgot-link{
  color: #f98f5f;
}
